<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yangyi.project.dao.ShiroRoleDao">

    <resultMap id="SysRoleResultMap" type="org.yangyi.project.entity.ShiroRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_desc" jdbcType="LONGVARCHAR" property="roleDesc"/>
    </resultMap>

    <sql id="BaseColumnList">
        id
        , role_code, role_name, role_desc
    </sql>

    <!-- 查询全部权限列表 -->
    <select id="selectShiroRoles" resultMap="SysRoleResultMap">
        select *
        from shiro_role
    </select>

    <!-- 查询用户拥有的权限列表 -->
    <select id="selectUserShiroRoles" resultMap="SysRoleResultMap">
        select sr.*
        from shiro_role sr
                 left join sys_user_role sur on sur.role_id = sr.id
        where sur.user_id = #{userId,jdbcType=BIGINT}
    </select>

    <delete id="deleteShiroRole" parameterType="java.lang.Long">
        delete
        from shiro_role
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertShiroRole" parameterType="org.yangyi.project.entity.ShiroRole">
        insert into shiro_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleDesc != null">
                role_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDesc != null">
                #{roleDesc,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateShiroRole" parameterType="org.yangyi.project.entity.ShiroRole">
        update shiro_role
        <set>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDesc != null">
                role_desc = #{roleDesc,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>